/* You can add global styles to this file, and also import other style files */

body {
    background: linear-gradient(to bottom, #cfcfcf , #999999 50%);
    margin: 0;
    padding: 0;
    height: 100vh;
}